<!--
   ######################################################################
   # File: head.html
   #
   # Version: [5.0]
   #
   # Description: This HTML file serves as the head section for the LIDS-D application, including metadata, title, and linked stylesheets and scripts.
   #
    author Arturo Olmos,  modified: Benjamin Hansen
   ######################################################################
-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIDS-D</title>
    <link rel="stylesheet" href="../static/css/LIDS-D.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
