<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIDS-D</title>
    <link rel="stylesheet" href="../static/css/LIDS-D.css">
</head>
<style>
    
</style>
<body>
    
    <div class = "contentBlock" style="font-size: 0;" id = "contentBlock">
        <div style="width: 100%;height:55vh;display:flex;" id = "topContainer">
            <div class="devicesDisplayBox" style="width:150vh;" id="recognizedDevices">
                <p class="networkHeader">Recognized Devices</p>
                <div class="scrollableContainer">
                    <table class="devicesTable">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>IP</th>
                            <th>Connection Status</th>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                    </table>
                </div>
                
            </div>
            <div class = "devicesDisplayBox" style="width: 100%;" id="unkownDevices">
                <p class="networkHeader">Unkown Devices</p>
                <div class="scrollableContainer">
                    <table class="devicesTable">
                        <tr>
                            <th>IP</th>
                            <th>Port</th>
                            <th>Protocol</th>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <p style="width:100%;background-color:lightgray;font-size:30px;margin: 0;text-align: center;border-bottom: solid;">Alerts</p>
        <div class="scrollableContainer">
            <table class = "alertsTable">
                <tr>
                    <th>Level</th>
                    <th>Time</th>
                    <th>IP</th>
                    <th>Port</th>
                    <th>Protocol</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>15:30</td>
                    <td>1.2.3</td>
                    <td>80</td>
                    <td>TLS</td>
                    <td>Description</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>15:30</td>
                    <td>1.2.3</td>
                    <td>80</td>
                    <td>TLS</td>
                    <td>Description</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>15:30</td>
                    <td>1.2.3</td>
                    <td>80</td>
                    <td>TLS</td>
                    <td>Description</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>15:30</td>
                    <td>1.2.3</td>
                    <td>80</td>
                    <td>TLS</td>
                    <td>Description</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>15:30</td>
                    <td>1.2.3</td>
                    <td>80</td>
                    <td>TLS</td>
                    <td>Description</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>15:30</td>
                    <td>1.2.3</td>
                    <td>80</td>
                    <td>TLS</td>
                    <td>Description</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>15:30</td>
                    <td>1.2.3</td>
                    <td>80</td>
                    <td>TLS</td>
                    <td>Description</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>15:30</td>
                    <td>1.2.3</td>
                    <td>80</td>
                    <td>TLS</td>
                    <td>Description</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>15:30</td>
                    <td>1.2.3</td>
                    <td>80</td>
                    <td>TLS</td>
                    <td>Description</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>15:30</td>
                    <td>1.2.3</td>
                    <td>80</td>
                    <td>TLS</td>
                    <td>Description</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>15:30</td>
                    <td>1.2.3</td>
                    <td>80</td>
                    <td>TLS</td>
                    <td>Description</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>15:30</td>
                    <td>1.2.3</td>
                    <td>80</td>
                    <td>TLS</td>
                    <td>Description</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>15:30</td>
                    <td>1.2.3</td>
                    <td>80</td>
                    <td>TLS</td>
                    <td>Description</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>15:30</td>
                    <td>1.2.3</td>
                    <td>80</td>
                    <td>TLS</td>
                    <td>Description</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>15:30</td>
                    <td>1.2.3</td>
                    <td>80</td>
                    <td>TLS</td>
                    <td>Description</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="righTabBar">
        <button class="rightTabBarButtons" id = "mpd"></button>
        <br>
        <a href="LIDS-D_Config_Server_View.html"><button class="rightTabBarButtons">Configure Server</button></a>
        <br>
        <a href="LIDS-D_Alerts_View.html"><button class="rightTabBarButtons">View Alerts</button></a>
        <br> 
        <a href="LIDS-D_Network_Info_View.html"><button class="rightTabBarButtons">Network Info</button></a>
        <br>
        <form id="NetworkMapButton">
            <input class="networkMapButton" type="submit"  value="View Network Map">
        </form>
    </div>
    <script src="../static/js/LIDS-D.js"></script>
</body>
</html>