<!--
######################################################################
# File: LIDS-D_Config_Server_View.html
#
# Version: [5.0]
#
# @Author:Arturo Olmos
# Created the basic structure and styling for the page
#
# Description: This HTML file represents the view for configuring the LIDS-D server. It provides options to browse for a new configuration file or select a previous configuration file.
#

#
######################################################################
-->
<!DOCTYPE html>
<html lang="en">
    {% include 'head.html' %}
<body>
    <div class="contentBlock" id="contentBlock">
        <div class="configBrowseDiv">
            <p class="configBrowseDivText">Please provide a configuration file for this system</p>
            <label class="configBrowseButton" for="browseButton">
                Browse
                <input type="file" style="display:none" accept="text/xml" id="browseButton">
            </label>
        </div>
        <br>
        <div class="scrollableContainer" style="text-align: left;  padding-left: 50px;" id="previousFilesSelection">
            <p class="previousCofigFileDivText">Or select a previous configuration file</p>
        </div>
    </div>
    {% include 'sidebar.html' %}
    <script src="../static/js/LIDS-D.js"></script>
    <script src="../static/js/config.js"></script>
</body>
</html>
