<!-- LIDS-D_Start_Server.html-->
<!DOCTYPE html>
<html lang="en">
    {% include 'head.html' %}
<body>
    
    <div class="contentBlock" style="align-items: center;" id = "contentBlock">
        <p style="vertical-align: middle;">Config File has been successfully uploaded</p>
        <button class="sortButtons" style="height: 100px;width: 200px;" onclick="startServer(); createSocket();">Start Server</button>
    </div>
    {% include 'sidebar.html' %}
    <script src="../static/js/LIDS-D.js"></script>
</body>
</html>