<!--
   ######################################################################
   # File: sidebar.html
   #
   # Version: [5.0]

   # Description: This HTML code represents a right sidebar navigation bar in the LIDS-D application. It includes buttons for various actions, such as viewing alerts, configuring the server, checking network info, and more. The button with the id 'mpd' is used to display the malicious packet count.
   #
   # Modification History:
   # [11/01/23] - [5.0] - [Lizbeth Jurado] - [File Description and Organization Set Up]
   #
   ######################################################################
-->
<div class="righTabBar">
    <ul class="nav" style="font-size: 15px;">
        <li><a href=""><button class="rightTabBarButtons" id="mpd"></button></a></li>
        <br>
        <li><a href="LIDS-D_Config_Server_View"><button class="rightTabBarButtons">Configure Server</button></a></li>
        <br>
        <li><a href="LIDS-D_Alerts_View"><button class="rightTabBarButtons">View Alerts</button></a></li>
        <br>
        <li><a href="LIDS-D_Network_Info_View"><button class="rightTabBarButtons">Network Info</button></a></li>
        <br>
        <li><a href=""><button class="
