/*
# File: LIDS_D.css
#
# Description: This CSS file contains the styling rules for the LIDS_D web interface. It defines the layout, colors, and formatting of various elements on the web pages.
# @ Author Arturo Olmos 
# Resetting default styles for  
# 
*/

body{
    margin: 0;
    padding: 0;
    font-size: 0;
    align-content: center;
    display: flex; 
}

/* @ Author: Arturo Olmos  */
/* Styling for buttons */
button{
    cursor: pointer;
}

/* @ Author: Arturo Olmos  */
/* Styling for table cells */
td{
    border: solid;
}

/* @ Author: Arturo Olmos */
/* Styling for the right sidebar */
div.righTabBar{
    background-color: blue;
    display:inline-block;
    height: 100vh;
    flex-grow: 1;
    border: solid;
    margin: 0;
    vertical-align: middle;
    text-align: right;
}

/* @ Author: Arturo Olmos */
/* Styling for buttons in the right sidebar */
.rightTabBarButtons{
    background-color: white;
    width:100%;
    height:20%;
    align-self: flex-end;
    box-shadow: 0 2px 4px darkslategray;
    border-radius: 10px;
}

/* @ Author: Arturo Olmos */
/* Styling for content block */
div.contentBlock{
    height: 100vh;
    width:90vw; 
    border: none;
    margin: 0;
    vertical-align: middle;
    text-align:center;
    font-size: 20px;
    float: left;
    display: flex;
    flex-flow: column;
}

/* @ Author: Arturo Olmos */
/* Styling for forms in the right sidebar */
form.rightTabBarFroms{
    height: 20%;
}

/* @ Author: Arturo Olmos */
/* Styling for network map button */
input.networkMapButton{
    border-radius: 20px; 
    margin-top: 20px;
    background-color: lightgray;
}

/* @ Author: Arturo Olmos */
/* Styling for config browse section */
div.configBrowseDiv{
    height: 20vh;
    width: 100%;
    border-bottom: 3px solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    text-align: left;
    align-items: center;
    display: flex;
    align-items: center;
}

/* @ Author: Arturo Olmos */
/* Styling for text in config browse section */
p.configBrowseDivText{
    height: auto;
    border: none;
    margin: 0;
    width: auto;
    vertical-align: middle;
    display: inline-block;
    padding-right: 10px;
    padding-left: 50px;
}

/* @ Author: Arturo Olmos */
/* Styling for config browse button */
.configBrowseButton{
    background-color: lightgray;
    border-radius: 5px;
}

/* @ Author: Arturo Olmos */
/* Styling for previous config file section */
div.previousCofigFileDiv{
    height:79vh;
    width: 100%;
    text-align: left;
}

/* @ Author: Arturo Olmos */
/* Styling for text in previous config file section */
p.previousCofigFileDivText{
    height: auto;
    border: none;
    margin: 0;
    width: auto;
}

/* @ Author: Arturo Olmos */
/* Styling for alerts title */
div.alertsTitle{
    width: 100%;
    display: flex;
    height: auto;
    text-align: left;
}

/* @ Author: Arturo Olmos */
/* Styling for sorting buttons in alerts section */
div.VASortButtons{
    height:5vh;
    width: 100%;
    text-align: left;
    border: none;
    display: flex;
    justify-content: space-between;
}

/* @ Author: Arturo Olmos */
/* Styling for sorting buttons */
button.sortButtons{
    display: inline-block;
    height: 100%;
    width: 20%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 4px darkslategray;
}

/* @ Author: Arturo Olmos */
/* Styling for alerts table */
table.alertsTable{
    width: 100%;
    border: solid black;
    border-collapse: collapse;
    font-size: 20px;
}

/* @ Author: Arturo Olmos */
/* Styling for network info table */
table.networkInfoTable{
    max-height: 24.5vh;
    overflow-y: auto;
}

/* @ Author: Arturo Olmos */
/* Styling for table headers */
th{
    background-color: lightgray;
    border: solid;
}

/* @ Author: Arturo Olmos */
/* Styling for devices display box */
div.devicesDisplayBox{
    height: 55vh;
    display: flex;
    flex-direction: column;
    border: solid;
}

/* @ Author: Arturo Olmos */
/* Styling for network header */
p.networkHeader{
    font-size: 30px;
    background: lightgray;
    margin: 0;
}

/* @ Author: Arturo Olmos */
/* Styling for devices table */
table.devicesTable{
    font-size: 20px;
    width: 100%;
    border: solid black;
    border-collapse: collapse;
}

/* @ Author: Arturo Olmos */
/* Sticky table header */
th { 
    position: sticky; 
    top: 0px; 
    margin-top: 0;
} 

/* @ Author: Arturo Olmos */
/* Styling for scrollable container */
div.scrollableContainer{
    width: 100%;
    overflow-y: scroll;
    flex-grow: 1;
}

/* @ Author: Arturo Olmos */
/* Styling for previous file button */
button.prevFileButton{
    margin-left: 150px;
    height:30vh;
    width: 20vw;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: white;
}
/* @ Author: Arturo Olmos */
/* Styling for open button */
.open-button {
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 4px darkslategray;
}

/* @ Author: Arturo Olmos */
/* Styling for popup form */
.form-popup {
    display: none;
    position: fixed;
    bottom: 20%;
    right: 40%;
    border: 3px solid #f1f1f1;
    z-index: 9;
    width: 30%;
    height: 50%;
}

/* @ Author: Arturo Olmos */
/* Styling for form container */
.form-container {
    max-width: 100%;
    padding: 10px;
    height: 100%;
    background-color: white;
}

/* @ Author: Arturo Olmos */
/* Styling for cancel button in the form */
.form-container .cancel {
    background-color: red;
}

/* @ Author: Arturo Olmos */
/* Styling for links */
a {
    text-decoration: none;
}

/* @ Author: Arturo Olmos */
/* Styling for links on hover */
a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* @ Author: Arturo Olmos */
/* Styling for visited links */
a:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* @ Author: Arturo Olmos */
/* Styling for navigation menu */
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-color: lightslategray;
}

/* @ Author: Arturo Olmos */
/* Styling for content block */
div.contentBlock{
    height: 100vh;
    width: 90vw; 
    border: none;
    margin: 0;
    text-align: center;
    font-size: 20px;
    float: left;
    display: flex;
    flex-flow: column;
    justify-content: center; 
    align-items: center; 
}

/* @ Author: Arturo Olmos */
/* Styling for server info and storage capacity sections */
.server-info, .storage-capacity {
    margin: 0; 
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%; 
}
