/*
# File: lids_dashboard.css
#
# Description: Styles for the LIDS-D Dashboard Web Application
#
# @Author:Arturo Olmos, Raul Tinajero Olivas
# @ Modifier:
*/

.xmlFileTextArea {
    height: 91vh;
    border-radius: 3px;
    width: 100%;
    overflow: auto;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: white;
    margin: 0%;
    vertical-align: top;
    font-size: 0;
}

.disconnectButton {
    background: lightgray;
    width: 100px;
    height: 30px;
    border: black;
    border-radius: 25px;
    display: inline-block;
    margin: 5%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(173, 173, 173);
    height: auto;
    position: relative;
    font-size: 20px;
    padding: 10px 20px;
}

form {
    display: flex;
    align-items: center;
    gap: 10px;
}

#ConnectButton {
    background: lightgray;
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 25px;
    display: inline-block;
    margin-left: 5%;
}

#IPAdressForm,
#PortNumberForm {
    padding: 8px;
    border: 1px solid #AAA;
    border-radius: 4px;
}

/*
    @Author:Arturo Olmos
    Styling for the left side bar containing buttons in dashboard
*/
.leftSidebar {
    height: 100vh;
    width: 10%;
    border: none;
    vertical-align: middle;
    display: inline-block;
}

/*
    @Author:Arturo Olmos
    Styling for buttons in left sidebar
*/
.leftSidebarButton {
    background: #909090;
    border: none;
    margin-top: 20%;
}

/*
    @Author:Arturo Olmos
    Styling for table data tags
*/
td {
    overflow-x: scroll;
    max-width: 50px;
}

.dashboardButtonAction:hover {
    background: rgb(255, 255, 255);
}

/*
    @Author:Arturo Olmos
    Styling for images in left sidebar
*/
.leftSidebarImages {
    margin-left: 30%;
    height: 40%;
    width: 40%;
}

th,
td {
    border-collapse: collapse;
}

/*
    @Author:Arturo Olmos
    Styling for table header 
*/
th {
    border: None;
    background: rgb(173, 173, 173);
}

/*
    @Author:Arturo Olmos
    Styling for header so that it stays in a single position when scrolling
*/
thead {
    position: sticky;
    top: 0px;
    margin-top: 0;
}

.sort-button {
    position: absolute;
    right: 0;
    top: -1px;
    z-index: 2;
}

.dropdown {
    position: relative;
}

.dropdown-options {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    min-width: 10px;
    z-index: 1;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
}

.dropdown-options button {
    display: block;
    width: 100%;
    text-align: center;
    border: none;
    background: none;
    padding: 8px 12px;
}

.dropdown-options button:hover {
    background-color: #b9b9b9;
}

.headerTitle {
    flex: 1;
    text-align: center;
    margin: 0;
    text-align: right;
}

.connectedDisplay {
    width: 40%;
    text-align: right;
    margin-right: 10px;
}

/*
    @Author:Arturo Olmos
    Styling for right sidebar so that it takes up remaining space
*/
.rightSidebar {
    height: 100vh;
    flex-grow: 1;
    font-size: 15px;
}

/*
    @Author:Arturo Olmos
    Styling for table containers in the right side bar
*/
div.rightSidebarSC {
    border: solid;
    width: 90%;
    margin-left: 5%;
    height: 40vh;
    margin-top: 10%;
    overflow: scroll;
    border-radius: 10px;

}

/*
    @Author:Arturo Olmos
    Styling for all tables
*/
table {
    width: 100%;
    border-collapse: collapse
}

/*
    @Author:Arturo Olmos
    Styling for table container in the middle of dashboard
*/
div.tableContainer {
    margin-top: 2.5%;
    height: 80vh;
    width: 65%;
    display: inline-block;
    vertical-align: top;
    overflow: scroll;
    font-size: 15px;
    border: solid;
    border-radius: 10px;
}