/* main.css */
html body {
    font-family: 'Arial', sans-serif;
    background-color: #CCCCCC;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1, h2, h3 {
    font-size: 30px;
    font-weight: 100;
    background-image: linear-gradient(  #a0a0a0, #c0c0c0);
    background-clip: text;
    -webkit-background-clip: text;
    line-height: 1.2; 
    margin: 10px 0;
}

#fileUpload {
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(43, 43, 43, 0.9);
}


