<!-- LIDS_Main.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIDS</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <h2>Welcome to LIDS</h2>

    <h3>Upload</h3>
    <h3>Configuration File</h3>
    <form id="fileUpload">
        <label for="myFile">
            Select a File
            <input type="file" accept="text/xml" id="myFile" name="filename" style="display: none;">
        </label>
        
    </form>
    <script src="../static/js/LIDS_Main.js"></script>
</body>
</html>