<!-- LIDS_Dashboard.html-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/lids_dashboard.css">
    <title>LIDS Dashboard</title>
</head>


<body>
    <div class="header">
        <div class="headerTitle" id="headerTitle">LIDS</div>
        <div class="connectedDisplay" id="connectedDisplay">Connected
            <img style="mix-blend-mode: multiply;height: 25px;width: 50px;vertical-align:text-bottom;"
            src="../static/img/Display_Box_Buttons.png">
            <form style="display:inline-block" id="disconnectButtonForm">
                <input class="disconnectButton dashboardButtonAction" type="submit" value="Disconnect">
            </form>
        </div>
    </div>

    <div class="leftSidebar" id="leftSidebar">
        <form id="configFileForm">
            <input type="image" class="leftSidebarButton dashboardButtonAction leftSidebarImages"
            src="../static/img/Display_Box_Buttons.png">
        </form>
        <br style="line-height: 20px;">
        <form id="alertsTableForm">
            <input type="image" class="leftSidebarButton dashboardButtonAction leftSidebarImages"
            src="../static/img/Config_File_Button_IMG.png">
        </form>
    </div>

    <div class="table-container" id = "middleContainer">
        <table class="alertbox" id="alertBoxTable">
            <thead>
                <tr>
                    <th>Lvl</th>
                    <th>Time</th>
                    <th>IP</th>
                    <th>Port</th>
                    <th style="width: 100vw;">
                        Description

                        <div class="sort-button">
                            <div class="dropdown">
                                <button id="sortByButton" onclick="toggleDropdown()">Sort by</button>
                                <div class="dropdown-options" id="sortByDropdownContent">
                                    <button onclick="sortTable(0); toggleDropdown()">Lvl</button>
                                    <button onclick="sortTable(1); toggleDropdown()">Time</button>
                                    <button onclick="sortTable(2); toggleDropdown()">IP</button>
                                    <button onclick="removeSort(); toggleDropdown()">None</button>
                                </div>
                            </div>
                        </div>
                        <div class="filter-button">
                            <div class="dropdown">
                                <button id="filterButton" onclick="toggleDropdown()">Filter</button>
                                <div class="dropdown-options" id="sortByDropdownContent">
                                    <button onclick="sortTable(0); toggleDropdown()">Lvl</button>
                                    <button onclick="sortTable(1); toggleDropdown()">Time</button>
                                    <button onclick="sortTable(2); toggleDropdown()">IP</button>
                                    <button onclick="removeSort(); toggleDropdown()">None</button>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <table>
                    <thead>
                        <tr>
                        {% for key in data_packet[0] %}
                            <th>{{ key }}</th>
                        {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for packet in data_packet %}
                        <tr>
                            {% for value in packet.values() %}
                            <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
               <!-- 
                <tr>
                    <td>1</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>12:30:45</td>
                    <td>192.168.1.1</td>
                    <td>8080</td>
                    <td>Some description</td>
                </tr>
                -->
            </tbody>
        </table>
    </div>
    <div id="rightSidebar" class="rightSidebar">
        <table class="notifications" id="notificationsTable">
            <thead>
                <tr>
                    <th style="width: 100vw;">Notifications</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Notification 1</td>
                </tr>
            </tbody>
        </table>

        <table class="errors" id="errorsTable">
            <thead>
                <tr>
                    <th style="width: 100vw;">Errors</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Error 1</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/LIDS_Dashboard.js"></script>    
    <script>
        function replaceMiddleContent(newContent) {
            document.getElementById('middle-content').innerHTML = newContent;
        }
    </script>
</body>

</html>