<!--##################################################################
# File: /LIDS_GUI/templates/pcap_display.html
#
# Version: [5.0]
#
# Description: The file serves as a way to read the PCAP data from localStorage and display it
#
# @Author:Lizbeth Jurado
# 
################################################################## -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PCAP Data Display</title>
</head>
<body>
    <h1>PCAP Data</h1>
    <pre id="pcap">{{ pcap_data }}</pre>
</body>
</html>